/* stylelint-disable declaration-colon-newline-after */
/* stylelint-disable string-quotes */

* {
  box-sizing: border-box;
}

.bg-index {
  background-color: #d0d4d353;
}

.icon-shadow {
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.364));
}

.box-shadow {
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.237);
}

.home-page-form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 20vh;
}

.circle-countdown {
  border-radius: 50%;
  display: inline-block;
  width: 34px;
  height: 34px;
  padding: 10px;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
  font-family: 'IBM Plex Mono', monospace !important;
}

.style {
  width: 22rem !important;
  height: 100%;
  margin-top: 2rem;
}

.color-nav {
  background-color: #6e0b64;
}

.align-center {
  margin: auto;
}

.custom-header {
  background-color: #538bff;
}

.input-picker {
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  padding: 0.275rem 0.75rem !important;
  color: #212529;
  margin-left: 0.01rem !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.input-title {
  border: 1px solid #ced4da !important;
}

.btn-color {
  border-radius: 15px !important;
}

.add-calendar-schedule {
  font-size: 0.9rem !important;
}

.title-schedule > .add-calendar-schedule {
  font-size: 1em !important;
  font-weight: 300 !important;
  text-align: left !important;
  width: 100% !important;
  padding: 0.235rem 0.45rem !important;
  line-height: 1.5 !important;
  color: #212529;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: none !important;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.header {
  background-color: #6e0b64 !important;
}

.input-picker > input {
  text-align: left !important;
  width: 100% !important;
  padding: 0.3rem 0 0 0.1rem !important;
  font-size: 1em !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
  color: #212529;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: none !important;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.small-text {
  font-size: 1rem !important;
}

.align-left {
  display: flex;
  justify-content: end;
  width: 29rem;
}

.rbc-today {
  background-color: #eaf6ff;
}

.rbc-calendar *,
.rbc-calendar *::before,
.rbc-calendar *::after {
  box-sizing: inherit;
}

.rbc-day-bg {
  -webkit-box-flex: 1;
  flex: 1 0 0%;
  cursor: pointer;
}

.rbc-day-bg:hover {
  background-color: rgba(244, 228, 142, 0.319) !important;
}

.bubble {
  background: white;
  border: 1px solid #a0a096;
  line-height: 1.125em;
  box-shadow: 0 12px 24px rgb(0 0 0 / 20%);
}

.date-buttons {
  border: 1px solid #a0a096;
  box-shadow: 0 12px 24px rgb(0 0 0 / 20%) !important;
  margin: 0.4%;
}

div.bg-light {
  width: 50px;
  height: 50px;
}

.dropdown-toggle::after {
  display: none !important;
}

.check-in-gold {
  color: #eef514;
}

.start-end-time {
  border-radius: 8px;
  box-shadow: 0 12px 24px rgb(0 0 0 / 20%) !important;
}

.rmdp-input {
  height: 1.5em !important;
}

#allphotos {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 0;
}

.button-error {
  color: rgb(86, 5, 5);
  text-shadow: 3px 3px 10px rgba(120, 118, 118, 0.648);
}

.title-descript-add-form {
  color: rgb(86, 5, 5);
  font-weight: 300;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.251);
}

.form-group > .add-form-title {
  padding-bottom: 0 !important;
}

.no-events {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  color: rgb(86, 5, 5);
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.timeline-color {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-shadow: 6px 6px 6px rgba(120, 118, 118, 0.648);
  color: rgb(86, 5, 5);
}

.username {
  font-family: Handlee, cursive;
  overflow: visible;
  text-shadow: 2px 2px 10px rgba(142, 142, 135, 0.31) !important;
  color: rgb(242, 242, 137) !important;
}

.text-color {
  color: rgb(242, 242, 137) !important;
  font-weight: 900 !important;
  background: none !important;
  font-size: 1rem !important;
  font-family: 'IBM Plex Mono', monospace;
}

/*
input .time > input {
  font-size: 1rem !important;
  padding: 0.3em !important;
} */

.mg {
  margin-left: 0 !important;
}

.title-color {
  margin: 0 !important;
  color: rgb(240, 240, 232) !important;
  background: none !important;
}

.marg-inline {
  margin-left: 1em !important;
}

.padding-gutter {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.padding-right {
  padding-right: 0 !important;
}

.fix > .p-4 {
  display: flex;
  height: auto;
}

.react-calendar-datetime-picker .time {
  padding: 0 0.2rem 0.2rem !important;
  margin: 0 !important;
}

.time-fieldset > input {
  width: 2.25rem !important;
}

.navbar-brand {
  font-family: 'Moon Dance', cursive;
  font-size: 2em;
  color: rgb(238, 245, 20);
}

.days {
  color: white;
  font-size: 1.2em;
  font-family: 'Moon Dance', cursive;

  /* font-family: Handlee, cursive; */
}

.star {
  color: white;
  text-shadow: #fc0 1px 0 10px;
  font-size: 0.6em;
}

.pad-left {
  padding-left: 0 !important;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.add-gradient {
  background: linear-gradient(180deg, #64d72f 0%, #45c6d8 100%) !important;
}

.object-fit {
  object-fit: cover !important;
}

.text-small {
  font-size: smaller;
}

/* stylelint-disable */
.timer-font {

  font-family: 'Gloock', serif;
  font-size: smaller;


  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);


}

.timer {
  display: inline-flex;
  justify-content: center;
  align-items: center;


  box-shadow: 0 0 25px 7px rgb(250, 213, 4);
  width: 3.5em;
  height: 3.5em;
  border-radius: 100%;
  background-color: rgb(233, 210, 7);
  font-weight: bold;
  padding: 1rem;
  border: 4px solid rgb(245, 245, 84);
}

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background: #e3f2fd;
}

.animated-icon2 span:nth-child(1) {
  top: 0;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.btn-active:active {
  transform: translateY(0.9rem);
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-3 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-hover.color-4 {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.btn-hover.color-5 {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover.color-6 {
  background-image: linear-gradient(
    to right,
    #009245,
    #fcee21,
    #00a8c5,
    #d9e021
  );
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-10 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover.color-11 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.circle-one {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.circle-two {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.circle-three {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.circle-four {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.circle-five {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.circle-six {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #744648,
    #a5a2a5,
    #8c8e96,
    #7e997c
  );
  box-shadow: 0 5px 15px rgba(92, 87, 87, 0.4);
}

.calendar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.react-calendar {
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-bottom: 2em;
}

@media (min-width: 1028px) {
  .react-calendar {
    width: 900px !important;
    height: 310px;
  }
}

#other,
#title,
#summary,
#description {
  width: 100%;
  border: 2px solid #7b7e8197;
}

#title,
#description {
  width: 100%;
}

.form-content .form-items {
  padding: 10px;
  display: inline-block;
  width: 100%;
  min-width: 720px;
  border-radius: 10px;
  text-align: left;
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: evenly;
  align-items: center;
  text-align: left;
  min-height: 20vh;
}

#comment {
  border: 2px solid rgb(134, 130, 130);
  width: 100%;
}

button {
  margin: 2%;
}

.custom-file-input {
  background-color: rgb(33, 37, 41);
}

section#timeline {
  width: 100%;
  margin: 20px auto;
  position: relative;
}

section#timeline::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 0 0 1em;
  width: 2px;
  height: 100%;
  background: rgba(117, 63, 63, 0.2);
}

section#timeline article {
  width: 100%;
  margin: 0 0 20px;
  position: relative;
}

section#timeline article::after {
  content: '';
  display: block;
  clear: both;
}

section#timeline article div.inner {
  width: 80%;
  float: right;
  margin: 5px 0 0;
  border-radius: 6px;
}

.phone {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.meal {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #f37e82,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.doctor {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.movie {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.other {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #744648,
    #a5a2a5,
    #8c8e96,
    #7e997c
  );
  box-shadow: 0 5px 15px rgba(92, 87, 87, 0.4);
}

.walk {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.missed-day {
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 -14px;
  border-radius: 100%;
  border: 2px solid rgb(124, 19, 19);
  background-image: linear-gradient(
    to right,
    #910c24,
    #ba4549,
    #de243d,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

section#timeline article div.inner span.date {
  display: block;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  border: 2px solid white;
}

section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}

.header-color {
  padding: 0.1rem;
  margin: 0;
  color: rgb(236, 243, 244);
  font-size: 1em;
  background-color: #6e0b64d4;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;

  --bs-gutter-x: 1rem;
}

section#timeline article div.inner span.date span.other {
  font-size: 18px;
}

section#timeline article div.inner h2 {
  display: flex;
  padding-top: 0 !important;
  color: rgb(236, 243, 244);
  font-size: 1em;
  border-radius: 6px 6px 0 0;
  text-align: center;
  justify-content: center;
  align-items: start !important;
}

section#timeline article div.inner p {
  font-size: 0.8;
  background: #fafcfc;
  color: #0a0a0b;
  border-radius: 0 0 6px 6px;
}

.description-color {
  padding: 0.2em;
  margin: 0;
  font-size: 0.9rem;
  background: #fafcfc;
  color: #0a0a0b;
  border-radius: 0 0 6px 6px;
}

.display {
  font-family: sans-serif;
  width: 65px;
  font-size: 2rem;
  padding: 0 1.5rem;
}

.circle {
  width: 50px;
  color: pink;
}

.form-login {
  display: block;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 10px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.display-none {
  display: none;
}

.form-login:focus {
  outline: none;
  border: 1px solid #fff;
  background: transparent;
}

.form-sign-up:focus {
  outline: none;
  border: 1px solid #fff;
  background: transparent;
}

.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#show-modal,
#show-delete {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
}

.show {
  display: block;
}

.dp-none {
  display: none;
}

.spin-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 16, 16, 0.558);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spin > svg {
  margin: auto !important;
  overflow: show;
}

.spin-text {
  color: rgb(180, 180, 189);
  font-size: 1.5em;
  padding-top: 8%;
}

.my-calendar {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
